{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}



{% endblock %}
</style>

{% block jumbotron_content%}
		<div class="row">
			<div class="col-xs-6">
			<h1>Try Django 1.8</h1>
	        <p>This is a MVP landing page project. The goal is
	        to help you launch your venture/startup as soon as possible using this. </p>
	        <p>
	          <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
	        </p>
	        </div>
	        <div class="col-sm-6" style="background-color:black; height:300px;"></div>
        </div>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3 pull-right" style="background-color:grey;">
		<p class="lead text-align-center"> {{ title }} </p>


		<form method="POST" action="">{% csrf_token %}
		{{ form | crispy }}

		<input class="btn btn-primary" type="submit" value="Sign Up" />
			
		</form>
	</div>
	<div class="col-sm-3">
		<p class="lead text-align-center">Built with Django and Bootstrap.</p>
	</div>	
	<div class="col-sm-3">
		<p class="lead text-align-center">Created for new Entrepreneurs.</p>
	</div>	
	<div class="col-sm-3">
		<p class="lead text-align-center">Always Open Source.</p>
	</div>

</div>

{% endblock %}