{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	background-color:#0E3D14;
	color: #FFF;
}
{% endblock %}
</style>


                
          
{% block jumbotron%}
{% if not request.user.is_authenticated %}
		<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
				<h1>Try Django 1.8</h1>
		        <p>This is a MVP landing page project. The goal is
		        to help you launch your venture/startup as soon as possible using this. </p>
		        <p>
		          <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
		        </p>
		        </div>
		        <div class="col-sm-6">
						<!--Below line for embedding a youtube video.-->		        	
						<iframe width="560" height="315" src="https://www.youtube.com/embed/X-b2Zrr8BEk" frameborder="0" allowfullscreen></iframe>
						<!-- Below line for putting a image up. -->
						<!-- <img width="560" height="315" src="{% static 'img/star-wars.jpg' %}  " class='img-responsive'> -->
		        </div>
	        </div>
        </div>
        </div>
{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}

<h1>You're logged in.</h1>

	{% if queryset %}
	
	<h2>Welcome Admin</h2>
	<table class='table'>
	{% for instance in queryset %}
		
		<tr><td>{{ forloop.counter }}</td><td>{{ instance }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp | timesince }} ago</td></tr>
	{% endfor %}
	</table>
	
	{% endif %}


{% else %}
<div class="row">
  <div class="col-sm-3 pull-right">
		<p class="lead text-align-center"> {{ title }} </p>


		<form method="POST" action="">{% csrf_token %}
		{{ form | crispy }}

		<input class="btn btn-primary" type="submit" value="Sign Up" />
			
		</form>
	</div>
	<div class="col-sm-3">
		<p class="lead text-align-center">Django and Bootstrap</p>
		<img height="200" src="{% static 'img/django.jpg'%}" class="img-responsive" />
		<img height="200" src="{% static 'img/bootstrap.png'%}" class="img-responsive" />
		
	</div>	
	<div class="col-sm-3">
		<p class="lead text-align-center">Created for Startups</p>
		<!-- <i class="fa fa-bolt fa-5x"></i> -->
		<img height="200" src="{% static 'img/startup.jpg'%}" class="img-responsive" />
	</div>	
	<div class="col-sm-3">
		<p class="lead text-align-center">Completely Open Source.
		<br/>
		<br/>
		<span class="fa-stack fa-lg fa-5x">
		<i class="fa fa-circle-o-notch fa-stack-2x"></i>
		<i class="fa fa-github fa-stack-1x"></i>
			
		</span>
		<!-- <img height="200" src="{% static 'img/opensource.jpg'%}" class="img-responsive" /> -->
		</p>
	</div>

</div>
{% endif %}

{% endblock %}